Flask==0.10.1
Flask-Admin==1.0.8
Flask-Login==0.2.11
Flask-SQLAlchemy==1.0
Flask-Testing==0.4.1
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.9.4
WTForms==2.0
Werkzeug==0.9.6
bcrypt==1.0.2
cffi==0.8.2
itsdangerous==0.24
pycparser==2.10
wsgiref==0.1.2
