{% extends "admin/master.html" %}

{% block brand %}
<a href="/"> <span class="brand">Negocio123</span> </a>
{% endblock brand %}


{% block main_menu %}
<ul class="nav">  
  <li class="active">
    <a href="/admin/">Home</a>
  </li>  
  <li>
    <a href="/admin/stepview/">Step</a>
  </li>
  <li>
    <a href="/admin/municipioview/">Municipio</a>
  </li>
  <li>
    <a href="/adduser/">Add User</a>
  </li>
</ul>
{% endblock main_menu %}

{% block body %}
  <h3>Negocio123 Admin Interface</h3>
  <p style="font-size: 20px;">In this admin interface you can do two things:</p>
  &nbsp;
    <ol style="font-size: 18px;">
      <li>Add / Modify the steps displayed on the main page</li>
      <li>Add / Modify the municipalities web pages</li>
    </ol>
    &nbsp;
  <p style="font-size: 20px;">You can do these two things by clicking on the "Step" and "Municipio" tabs on the navbar respectively.</p>
  &nbsp;
  <p style="font-size: 18px;">If you want to go back to Negocio123 you can click on the logo on the navbar to do so.</p>

  
{% endblock body %}