{% extends "layout.html" %}

{% block content %}
  <h1>Incorporar un negocio en Puerto Rico</h1>
  <p class="header-p">Una guía práctica con pasos y requerimientos de cada agencia para incorporar tu negocio. &nbsp;</p>
  <img class="img-mobile" src="{{ url_for('static', filename='images/Exp_Chart_REV2.png') }}" alt="535afe37af2e9d9c5000007b_Exp_Chart_REV2.png">
    <div class="w-row">
        <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6 column-center w-col-offset-3"><a class="button btn-small" href="/1">Comenzar</a>
    </div>
  </div>
{% endblock content %}