{% extends "layout.html" %}

{% block content %}
  <h1>Incorporar un negocio en Puerto Rico</h1>
  <p class="header-p">Una guía práctica con pasos y requerimientos de cada agencia para incorporar tu negocio. &nbsp;</p>
  <table>
    <col><col><col><col><col><col><col><col>
    <thead>
      <th>Agencia</th>
      <th>Descripcion</th>
      <th>Requisitos</th>
      <th>Online or Offline</th>
      <th>Duracion</th>
      <th>Costo</th>
      <th>Tipo de Tramite</th>
      <th>Consideraciones</th>
    </thead>
    <tbody>
      {% for step in steps %}
        <tr>
          <td>
            {% if step.nombre_de_agencia %}
              <strong> {{ step.nombre_de_agencia|truncate() }} </strong>
            {% endif %}
          </td>
          <td>
            {% if step.descripcion %}
              {{ step.descripcion|truncate() }}
            {% endif %}
          </td>
          <td>
            {% if step.requisitos %}
              {{ step.requisitos|truncate() }}
            {% endif %}
          </td>
          <td>
            {% if step.tramite_online and step.tramite_offline %}
            <img src="{{ url_for('static', filename='images/online.png') }}" alt="online.png">
            {% elif step.tramite_online %}
            <img src="{{ url_for('static', filename='images/online.png') }}" alt="online.png">
            {% else %}
            <img src="{{ url_for('static', filename='images/offline.png') }}" alt="offline.png">
            {% endif %}
          </td>
          <td>
            {% if step.duracion %}
              {{ step.duracion|truncate() }}
            {% endif %}
          </td>
          <td>
            {% if step.costo_de_tramite %}
              {{ step.costo_de_tramite|truncate() }}
            {% endif %}
          </td>
          <td>
            {% if step.tipo_de_tramite %}
              {{ step.tipo_de_tramite|truncate() }}
            {% endif %}
          </td>
          <td>
            {% if step.consideraciones %}
              {{ step.consideraciones|truncate() }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
    <div class="w-row">
        <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6 column-center w-col-offset-3"><a id="comenzar" class="button btn-small" href="/1">Comenzar</a>
    </div>
  </div>
{% endblock content %}