{% extends "layout.html" %}

{% block content %}
      <div class="w-row">
        <div class="w-col w-col-7">
          <h1>{{ current_step.full_title }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
          <p class="header-p">{{ current_step.description }}</p>
        </div>
        <div class="w-col w-col-5">
          <img class="progress-wheel" width="100" src="{{ url_for('static', filename='images') }}/progress{{ current_step.id }}.png" alt="Step number {{ current_step.id }}">
        </div>
      </div>
      <div class="section">
        <div class="w-row">
          <div class="w-col w-col-4 managing-expectations">
            <img src="{{ url_for('static', filename='images/clock.png') }}" alt="clock">
            <div><span style="font-size: 25px;"><strong>¿Cuánto demora?</strong></span>
            </div>
            <div>{{ current_step.time_period }}&nbsp;</div>
          </div>
          <div class="w-col w-col-4 managing-expectations">
            {% if current_step.online and current_step.offline %}
            <img src="{{ url_for('static', filename='images/online.png') }}" alt="online.png">
            <div><strong class="managing-p">¿Es online u offline?</strong>
            </div>
              <div class="online-offline">Es un trámite online y offline.&nbsp;&nbsp;&nbsp;</div>
              <a href="#"></a>
            {% elif current_step.online %}
            <img src="{{ url_for('static', filename='images/online.png') }}" alt="online.png">
            <div><strong class="managing-p">¿Es online u offline?</strong>
            </div>
              <div class="online-offline">Es un trámite online solamente.&nbsp;&nbsp;&nbsp;</div>
              <a href="#"></a>
            {% else %}
            <img src="{{ url_for('static', filename='images/offline.png') }}" alt="offline.png">
            <div><strong class="managing-p">¿Es online u offline?</strong>
            </div>
              <div class="online-offline">Es un trámite offline solamente.&nbsp;&nbsp;&nbsp;</div>
              <a href="#"></a>
            {% endif %}
          </div>
          <div class="w-col w-col-4 managing-expectations">
            <img src="{{ url_for('static', filename='images/money.png') }}" alt="money.png">
            <div class="managing-p"><strong class="managing-p">¿Cuánto cuesta?</strong>
            </div>
            <div>
              {{ current_step.step_cost }}
            </div>
          </div>
        </div>
        <div>
          {% if current_step.full_title == 'Municipios' %}
            <div class='w-col w-col-6 w-col-small-6 w-col-tiny-6 column-center w-col-offset-3'>
              <select class="w-select" required="required">
                <option value="None">--------</option>
                <option value="Aguadilla">Aguadilla</option>
                <option value="Bayamon">Bayamon</option>
                <option value="Cabo Rojo">Cabo Rojo</option>
                <option value="Caguas">Caguas</option>
                <option value="San juan">San juan</option>
                <option value="Cidra">Cidra</option>
                <option value="Humacao">Humacao</option>
                <option value="Ponce">Ponce</option>
                <option value="Carolina">Carolina</option>
                <option value="Adjuntas">Adjuntas</option>
                <option value="Aguada">Aguada</option>
                <option value="Aguas Buenas">Aguas Buenas</option>
                <option value="Aibonito">Aibonito</option>
                <option value="Añasco">Añasco</option>
                <option value="Arecibo">Arecibo</option>
                <option value="Arroyo">Arroyo</option>
                <option value="Barceloneta">Barceloneta</option>
                <option value="Barranquitas">Barranquitas</option>
                <option value="Camuy">Camuy</option>
                <option value="Canóvanas">Canóvanas</option>
                <option value="Cataño">Cataño</option>
                <option value="Cayey">Cayey</option>
                <option value="Ceiba">Ceiba</option>
                <option value="Ciales">Ciales</option>
                <option value="Coamo">Coamo</option>
                <option value="Comerío">Comerío</option>
                <option value="Corozal">Corozal</option>
                <option value="Culebra">Culebra</option>
                <option value="Dorado">Dorado</option>
                <option value="Fajardo">Fajardo</option>
                <option value="Florida">Florida</option>
                <option value="Guánica">Guánica</option>
                <option value="Guayama">Guayama</option>
                <option value="Guayanilla">Guayanilla</option>
                <option value="Gurabo">Gurabo</option>
                <option value="Hatillo">Hatillo</option>
                <option value="Hormigueros">Hormigueros</option>
                <option value="Isabela">Isabela</option>
                <option value="Jayuya">Jayuya</option>
                <option value="Juana Díaz">Juana Díaz</option>
                <option value="Juncos">Juncos</option>
                <option value="Lajas">Lajas</option>
                <option value="Lares">Lares</option>
                <option value="Las Marías">Las Marías</option>
                <option value="Las Piedras">Las Piedras</option>
                <option value="Loíza">Loíza</option>
                <option value="Luquillo">Luquillo</option>
                <option value="Manatí">Manatí</option>
                <option value="Maricao">Maricao</option>
                <option value="Maunabo">Maunabo</option>
                <option value="Mayagüez">Mayagüez</option>
                <option value="Moca">Moca</option>
                <option value="Morovis">Morovis</option>
                <option value="Naguabo">Naguabo</option>
                <option value="Naranjito">Naranjito</option>
                <option value="Orocovis">Orocovis</option>
                <option value="Patillas">Patillas</option>
                <option value="Peñuelas">Peñuelas</option>
                <option value="Quebradillas">Quebradillas</option>
                <option value="Rincón">Rincón</option>
                <option value="Río Grande">Río Grande</option>
                <option value="Sabana Grande">Sabana Grande</option>
                <option value="Salinas">Salinas</option>
                <option value="San Germán">San Germán</option>
                <option value="San Lorenzo">San Lorenzo</option>
                <option value="San Sebastián">San Sebastián</option>
                <option value="Santa Isabel">Santa Isabel</option>
                <option value="Toa Alta">Toa Alta</option>
                <option value="Toa Baja">Toa Baja</option>
                <option value="Trujillo Alto">Trujillo Alto</option>
                <option value="Utuado">Utuado</option>
                <option value="Vega Alta">Vega Alta</option>
                <option value="Vega Baja">Vega Baja</option>
                <option value="Vieques">Vieques</option>
                <option value="Villalba">Villalba</option>
                <option value="Yabucoa">Yabucoa</option>
                <option value="Yauco">Yauco</option>
              </select>
            </div>
          {% endif %}
          {% if current_step.type_of_process %}
            <h2>¿Qué tipo de trámites se realizan en este Departamento?</h2>
            {{ current_step.type_of_process|safe }}
          {% endif %}
          
          {% if current_step.papers_to_fill %}
            <h2>Planillas que se deben llenar</h2>
            {{ current_step.papers_to_fill|safe }}
          {% endif %}

          {% if current_step.attention %}
            <h2>Prestar Atencion!</h2>
            {{ current_step.attention|safe }}
          {% endif %}
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
      <div class="w-row">
        {% if current_step.id == 1 %}
          <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6 column-center"><a class="button btn-small" href="/">Home</a></div>
        {% else %}
          <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6 column-center"><a class="button btn-small" href="/{{ current_step.id - 1 }}">Anterior</a></div>
        {% endif %}
        <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6 column-center"><a class="button btn-small" href="/{{ current_step.id + 1 }}">Siguiente</a>
        </div>
      </div>
{% endblock content %}