{% extends "layout.html" %}

{% block content %}
      <div class="w-row">
        <div class="w-col w-col-7">
          <h1>{{ current_step.full_title }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
          <p class="header-p">{{ current_step.description }}</p>
        </div>
        <div class="w-col w-col-5">
          <p class='progress-wheel'>Progress wheel</p>
        </div>
      </div>
      <div class="section">
        <div class="w-row">
          <div class="w-col w-col-4 managing-expectations">
            <img src="{{ url_for('static', filename='images/clock.png') }}" alt="clock">
            <div><span style="font-size: 25px;"><strong>¿Cuánto demora?</strong></span>
            </div>
            <div>{{ current_step.time_period }}&nbsp;</div>
          </div>
          <div class="w-col w-col-4 managing-expectations">
            {% if current_step.online %}
            <img src="{{ url_for('static', filename='images/online.png') }}" alt="online.png">
            <div><strong class="managing-p">¿Es online u offline?</strong>
            </div>
              <div class="online-offline">Es un trámite online.&nbsp;&nbsp;&nbsp;<strong>100</strong>%</div>
              <a href="#"></a>
            {% else %}
            <img src="{{ url_for('static', filename='images/offline.png') }}" alt="offline.png">
            <div><strong class="managing-p">¿Es online u offline?</strong>
            </div>
              <div class="online-offline">Es un trámite offline.&nbsp;&nbsp;&nbsp;</div>
              <a href="#"></a>        
            {% endif %}
          </div>
          <div class="w-col w-col-4 managing-expectations">
            <img src="{{ url_for('static', filename='images/money.png') }}" alt="money.png">
            <div class="managing-p"><strong class="managing-p">¿Cuánto cuesta?</strong>
            </div>
            <div>
              {{ current_step.step_cost }}
            </div>
          </div>
        </div>
        <div>
          {% if current_step.type_of_process %}
            <h2>¿Qué tipo de trámites se realizan en este Departamento?</h2>
            {{ current_step.type_of_process|safe }}
          {% endif %}
          
          {% if current_step.papers_to_fill %}
            <h2>Planillas que se deben llenar</h2>
            {{ current_step.papers_to_fill|safe }}
          {% endif %}

          {% if current_step.attention %}
            <h2>Prestar Atencion!</h2>
            {{ current_step.attention|safe }}
          {% endif %}
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
      <div class="w-row">
        <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6 column-center"><a class="button btn-small" href="index.html">Home</a>
        </div>
        <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6 column-center"><a class="button btn-small" href="irs.html">Siguiente</a>
        </div>
      </div>
{% endblock content %}