{% extends "layout.html" %}

{% block content %}
  <div class="w-row">
    <div class="w-col w-col-7">
      <h1>{{ current_step.nombre_de_agencia }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
      <p class="header-p">{{ current_step.descripcion }}</p>
    </div>
    <div class="w-col w-col-5">
      <img class="progress-wheel" width="100" src="{{ url_for('static', filename='images') }}/progress{{ current_step.num_de_paso }}.png" alt="Step number {{ current_step.num_de_paso }}">
    </div>
  </div>
  <div class="section">
    <div class="w-row">
      <div class="w-col w-col-4 managing-expectations">
        <img src="{{ url_for('static', filename='images/clock.png') }}" alt="clock">
        <div><span style="font-size: 25px;"><strong>¿Cuánto demora?</strong></span>
        </div>
        <div>{{ current_step.duracion }}&nbsp;</div>
      </div>
      <div class="w-col w-col-4 managing-expectations">
        {% if current_step.tramite_online and current_step.tramite_offline %}
        <img src="{{ url_for('static', filename='images/online.png') }}" alt="online.png">
        <div><strong class="managing-p">¿Es online u offline?</strong>
        </div>
          <div class="online-offline">Es un trámite online y offline.&nbsp;&nbsp;&nbsp;</div>
          <a href="#"></a>
        {% elif current_step.tramite_online %}
        <img src="{{ url_for('static', filename='images/online.png') }}" alt="online.png">
        <div><strong class="managing-p">¿Es online u offline?</strong>
        </div>
          <div class="online-offline">Es un trámite online solamente.&nbsp;&nbsp;&nbsp;</div>
          <a href="#"></a>
        {% else %}
        <img src="{{ url_for('static', filename='images/offline.png') }}" alt="offline.png">
        <div><strong class="managing-p">¿Es online u offline?</strong>
        </div>
          <div class="online-offline">Es un trámite offline solamente.&nbsp;&nbsp;&nbsp;</div>
          <a href="#"></a>
        {% endif %}
      </div>
      <div class="w-col w-col-4 managing-expectations">
        <img src="{{ url_for('static', filename='images/money.png') }}" alt="money.png">
        <div class="managing-p"><strong class="managing-p">¿Cuánto cuesta?</strong>
        </div>
        <div>
          {{ current_step.costo_de_tramite }}
        </div>
      </div>
    </div>
    <div>
      {% if current_step.tipo_de_tramite %}
        <h2>¿Qué tipo de trámites se realizan en la agencia o corporación pública?</h2>
        {{ current_step.tipo_de_tramite|safe }}
      {% endif %}
      
      {% if current_step.requisitos %}
        <h2>Requisitos</h2>
        {{ current_step.requisitos|safe }}
      {% endif %}

      {% if current_step.consideraciones %}
        <h2>Consideraciones</h2>
        {{ current_step.consideraciones|safe }}
      {% endif %}
      {% if current_step.preguntas_frecuentes %}
        <h2>Preguntas Frecuentes</h2>
        {{ current_step.preguntas_frecuentes|safe }}
      {% endif %}
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </div>
  <div class='w-row' style='margin-bottom: 20px;'>
    <div class="w-col w-col-6 w-col-offset-3 column-center">
      <a target='_blank' style='text-decoration: none;' class="w-button statedep" href='{{ current_step.url_de_tramite }}'>Ir al sitio de la agencia o corporación</a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="w-row">
    {% if current_step.num_de_paso == 1 %}
      <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6 column-center"><a class="button btn-small" href="/">Home</a></div>
    {% else %}
      <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6 column-center"><a class="button btn-small" href="/{{ current_step.num_de_paso - 1 }}">Anterior</a></div>
    {% endif %}
    {% if current_step.num_de_paso == steps|length %}
    <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6 column-center"><a class="button btn-small" href="/">Home</a>
    </div>
    {% else %}
      <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6 column-center"><a class="button btn-small" href="/{{ current_step.num_de_paso + 1 }}">Siguiente</a>
      </div>
    {% endif %}
  </div>
{% endblock content %}