body {
  background-color: white;
  font-family: Lato, sans-serif;
  color: #333;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
}
h1 {
  margin: 65px 0px 5px;
  padding-top: 1px;
  float: none;
  font-family: Lato, sans-serif;
  color: #e31f2b;
  font-size: 36px;
  line-height: 39px;
  font-weight: 800;
  text-align: left;
}
h2 {
  margin: 50px 0px 20px;
  padding-top: 0px;
  color: black;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
}
h3 {
  margin: 10px 0px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-top: 20px;
  margin-bottom: 20px;
  direction: ltr;
  font-family:'Open Sans', sans-serif;
  font-size: 19px;
  line-height: 25px;
  text-align: left;
  text-decoration: none;
  text-transform: none;
  list-style-type: none;
}
.button {
  display: inline-block;
  width: auto;
  height: auto;
  margin-bottom: 25px;
  margin-left: 14px;
  padding: 9px 21px;
  float: none;
  border-radius: 10px;
  background-color: #e31f2b;
  color: white;
  font-size: 23px;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  background-color: #441513;
}
.button.action {
  padding: 17px 28px;
  background-color: #09f;
  font-size: 16px;
}
.button.action:hover {
  background-color: black;
}
.button.btn-small {
  width: 300px;
  height: 100px;
  font-size: 37px;
  line-height: 76px;
}
.section {
  margin-top: 35px;
  padding: 0px 10px;
  background-color: white;
}
.section.hero {
  margin-right: 30px;
  margin-left: 30px;
  background-color: white;
}
.company {
  margin-top: 21px;
  margin-bottom: 19px;
  padding-top: 0px;
  font-family: Lato, sans-serif;
  color: white;
  font-size: 29px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  list-style-type: none;
}
.nav-link {
  display: inline-block;
  padding: 20px 12px 20px 18px;
  float: left;
  clear: none;
  background-color: #e31f2b;
  color: white;
  font-size: 15px;
  line-height: 19px;
  text-decoration: none;
}
.nav-link:hover {
  background-color: #441513;
}
.nav-link.last {
  float: left;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
}
.navigation-column {
  padding-right: 0px;
  padding-left: 0px;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family: Lato, sans-serif;
  font-size: 17px;
  line-height: 20px;
  text-align: right;
}
.nav-section {
  background-color: #e31f2b;
}
.hero-image {
  width: 60%;
}
.hero-column {
  padding-top: 53px;
}
.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
}
.footer-link {
  margin-right: 15px;
}
.special-row {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.09);
  background-color: #f2f2f2;
}
.email-column {
  padding-top: 40px;
  text-align: center;
}
.special-column {
  padding: 10px 15px;
}
.center {
  text-align: center;
}
.header-p {
  margin-top: 10px;
  margin-left: 0px;
  padding-left: 0px;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}
.managing-expectations {
  text-align: center;
}
.managing-p {
  font-size: 25px;
  font-weight: 700;
}
.managing-img {
  width: 100px;
  height: 100px;
  background-image: url('../images/BizProcess_how%20long.png');
  background-size: 100px;
  background-attachment: scroll;
}
.comments {
  font-size: 15px;
}
.ein {
  font-size: 17px;
}
.online-offline {
  color: black;
  font-size: 13px;
}
.hacienda {
  font-size: 15px;
}
.progress {
  margin-top: 18px;
  float: right;
}
.body-list {
  padding-left: 23px;
  font-size: 19px;
  line-height: 25px;
  text-align: left;
}
.ol-body {
  font-size: 19px;
  line-height: 25px;
  font-weight: 700;
}
.progress-wheel {
  margin-top: 40px;
  text-align: center;
}
.column-center {
  text-align: center;
}
.statedep {
  font-size: 18px;
  text-align: left;
}
.boxes {
  text-align: left;
}
.submit {
  margin-top: 1px;
  font-size: 23px;
  font-weight: 400;
}
.subnav {
  float: none;
  text-align: left;
}
.state {
  text-align: center;
}
.nav-container {
  left: auto;
  right: auto;
  padding-right: 0px;
  padding-left: 0px;
  float: right;
  background-color: #e31f2b;
}
.logo {
  padding-top: 0px;
  padding-bottom: 2px;
  color: white;
  font-size: 29px;
  font-weight: 700;
  text-decoration: none;
}
.company-link {
  float: left;
  text-decoration: none;
}
.progressive {
  float: none;
  text-align: center;
}
.text-progressive {
  text-align: center;
}
.image-section {
  margin-right: 20px;
  margin-left: 20px;
}
.img-mobile {
  width: 940px;
  height: auto;
  float: none;
}
@media (max-width: 991px) {
  h1 {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  h2 {
    font-size: 21px;
  }
  .button {
    width: 100%;
  }
  .button.btn-small {
    width: 80%;
  }
  .hero-column {
    padding-top: 0px;
  }
  .header-p {
    margin-top: 0px;
  }
  .comments {
    margin-bottom: 13px;
  }
  .progress-wheel {
    margin-top: 13px;
  }
  .statedep {
    font-size: 16px;
  }
  .submit {
    font-size: 24px;
  }
  .nav-container {
    float: none;
  }
}
@media (max-width: 767px) {
  h1 {
    margin-top: 6px;
    font-size: 31px;
  }
  .button {
    width: 95%;
    height: auto;
    margin-top: 16px;
    margin-bottom: 0px;
    padding-top: 15px;
    padding-bottom: 19px;
    font-size: 42px;
    line-height: 48px;
  }
  .button.btn-small {
    margin-bottom: 20px;
  }
  .section {
    padding-bottom: 0px;
    text-align: center;
  }
  .section.hero {
    padding-right: 25px;
    padding-left: 25px;
  }
  .company {
    text-align: center;
  }
  .nav-link {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .navigation-column {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    text-align: center;
  }
  .footer {
    margin-top: 14px;
    text-align: center;
  }
  .email-column {
    padding-top: 0px;
  }
  .header-p {
    font-size: 14px;
  }
  .img-mobile {
    display: none;
  }
}
@media (max-width: 479px) {
  h1 {
    margin-top: 1px;
    margin-left: 7px;
    font-size: 29px;
  }
  h2 {
    margin-top: 6px;
  }
  .button {
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 7px;
    font-size: 25px;
    line-height: 44px;
  }
  .button.btn-small {
    width: 100%;
    font-size: 24px;
    text-align: center;
  }
  .section {
    padding-top: 9px;
    padding-right: 0px;
    padding-left: 0px;
    text-align: left;
  }
  .nav-link {
    display: block;
    padding-top: 9px;
    padding-bottom: 9px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    border-left-width: 0px;
  }
  .nav-link.last {
    border-right-width: 0px;
  }
  .navigation-column {
    padding-right: 0px;
    padding-left: 0px;
  }
  .header-p {
    margin-left: 10px;
  }
  .progress-wheel {
    margin-top: 0px;
  }
  .statedep {
    width: 272px;
    height: 64px;
    line-height: 20px;
  }
  .submit {
    text-align: left;
  }
}